html {
  scroll-behavior: smooth;
}

body {
  background: #f6f8f8;
}

.header-desktop3 {
  background: linear-gradient(#2e6583, #2e6583);
  box-shadow: none;
}

.header__tool a {
  font-size: 1rem;
  color: #fff;
}

.header__navbar ul li a:hover,
.header__tool a:hover {
  color: #fff;
}

.header__navbar ul li a {
  border-left: none;
  border-right: none !important;
}

.bot-line {
  background: #fff;
}

.section__content {
  max-width: 80%;
}

.fundo-site {
  background: linear-gradient(#2e6583, #2e658383),
    url(../images/hotel-r-de-paris.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
}

.fundo-site .container {
  height: 100%;
}

.fundo-site .content {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.container {
  max-width: 75%;
}

section {
  padding-block: 6rem;
}

#imoveis {
  background: white;
}

#imoveis .item {
  width: 100%;
  color: #000 !important;
}

form textarea::placeholder,
form input::placeholder {
  font-size: 1rem !important;
}

form button {
  font-size: 1rem !important;
  background: linear-gradient(#2e6583, #2e6583);
  color: #fff !important;
}

#fala {
  background: white;
}

footer {
  background: linear-gradient(#2e6583, #2e6583);
  color: #fff !important;
}
